/**
* Anax Flat theme.
*/
@import url(light.less);

@backgroundColor: #040404;
@backgroundFont: #EAEAEA;
@headersColor: #E46A68;
@anchorColor: #6E6E6E;
@bylineBorder: 1px solid white;
@footerBackgroundColor: #3F3F3F;
@footerColor: white;
@headerBackgroundColor: #3F3F3F;
@headerColor: #eaeaea;

.dark {
    code {
        color: black;
        background-color: #E46A68;
    }
}
