/**
* Anax Flat theme.
*/
@import url(style.less);

@backgroundColor: #F0F0F0;
@backgroundFont: #95979B;
@headersColor: gray;
@anchorColor: gray;
@bylineImage: grayscale(100%);
@bylineBorder: 1px solid #D3D4D4;
@footerBackgroundColor: #D3D4D4;
@footerColor: #95979B;
@headerBackgroundColor: #D3D4D4;
@headerColor: black;

.light {
    code {
        color: gray;
    }
}
