/**
* Anax Flat theme.
*/
@import url(base.less);

@backgroundColor: #19171B;
@backgroundFont: white;
@headersColor: #00C200;
@anchorColor: #B29400;
@bylineImage: grayscale(100%);
@bylineBorder: 2px solid white;
@footerBackgroundColor: #19171B;
@footerColor: white;
@headerBackgroundColor: #19171B;
@headerColor: white;

.anax-flat code {
    color: @backgroundColor;
}
